page-login {

}
#passid{
    padding-bottom: 3%;
}
.btnlogin{
    padding-top: 4%;
    width: 60%;
    height: 1%;
    padding-bottom: 4%
}
#newid{
    float: right;
    padding-top: 0px;
    margin-top: 0;
}
#lnbtn{
    padding-top: 10%;
    align-content: center;
}
#login_forgot{
    font-size: 10px;
    font-weight: 100
}
#forgot_button{
    font-size: 1em;

}